<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">About Us</h2>
        <!-- <h3 class="section-subheading text-muted">Put some text here if required</h3> -->
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-sm-12 col-md-4 text-center" id="missionTitle">
        <h2 class="section-subheading">Our Mission</h2>
        <i class="fa fa-5x fa-bullseye"></i>
      </div>
      <div class="col-sm-12 col-md-8 text-justify">
        <h4 class="text-primary">
          To invoke the purity of true spirit & human emotions by fusing
          artistic skills & state of the art technology creating impressionable
          experiences.
        </h4>
      </div>
    </div>
    <hr />
    <div class="row">
      <div
        class="col-sm-12 col-md-4 col-lg-4 col-lg-push-8 text-center"
        id="visionTitle"
      >
        <h2 class="section-subheading">Our Vision</h2>
        <i class="fa fa-5x fa-eye"></i>
      </div>
      <div class="col-sm-12 col-md-8 col-lg-8 col-lg-pull-4 text-center">
        <h1 class="section-subheading text-primary" id="visionText">
          Celebrate Love for God
        </h1>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="about-us col-lg-12">
        <p>
          Kleem VFX Studio, the endeavor is to raise the bar of the Indian
          Animation Industry higher. The talented team is well equipped to
          deliver state-of-the-art quality matching International Standards.
        </p>
      </div>
    </div>
  </div>
</section>
