<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About Us</h2>
                <!-- <h3 class="section-subheading text-muted">Put some text here if required</h3> -->
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-4 text-center" id="missionTitle">
                <h2 class="section-subheading">Our Mission</h2>
                <i class="fa fa-5x fa-bullseye"></i>
            </div>
            <div class="col-sm-12 col-md-8 text-justify">
                <h4 class="text-primary">To invoke the purity of true spirit & human emotions by fusing artistic skills & state of the art technology creating impressionable experiences.</h4>
            </div>  
        </div>
        <hr/>
        <div class="row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-lg-push-8 text-center" id="visionTitle">
                <h2 class="section-subheading">Our Vision</h2>
                <i class="fa fa-5x fa-eye"></i>
            </div>
            <div class="col-sm-12 col-md-8 col-lg-8 col-lg-pull-4 text-center" >
                <h1 class="section-subheading text-primary" id="visionText">Celebrate Love for God</h1>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2012</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <!--<div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>-->
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>April 2018</h4>
                                <h4 class="subheading">A Company is Born</h4>
                            </div>
                            <!--<div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>-->
                        </div>
                    </li>
                   <!-- <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>-->
                    <li>
                    <!--<li class="timeline-inverted">-->
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
