<!-- Job Grid Section -->
    <section id="jobs" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">We are hiring...</h2>
                    <!-- <h3 class="section-subheading text-muted">We are having multiple positions</h3> -->
                </div>
            </div>
            <div class="row">
                <div id="accordion">
                    {% for job in site.jobs %}
                    <div class="card">
                      <div class="card-header col-lg-12" id="headingOne">
                        <h5 class="mb-0">
                          <button class="btn btn-light" data-toggle="collapse" data-target="#id{{job.job-id}}" aria-expanded="true" aria-controls="collapseOne">
                            {{job.job-id}} - {{job.title}}
                          </button>
                        </h5>
                      </div>

                      <div id="id{{job.job-id}}" class="collapse col-lg-12" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                          <div class="card-body-item">
                              {% if job.experience %}
                                <b>Experience:</b> {{ job.experience }}
                              {% endif %}
                          </div>
                          <div class="card-body-item">
                              {% if job.industry %}
                                <b>Industry:</b> {{ job.industry }}
                              {% endif %}
                          </div>
                          <div class="card-body-item">
                              {% if job.qualification %}
                                <b>Qualification:</b> {{ job.qualification }}
                              {% endif %}
                          </div>
                          <div class="card-body-item">
                              {% if job.function %}
                                <b>Job Function:</b> {{ job.function }}
                              {% endif %}
                          </div>
                          <div class="card-body-item">
                              <b>Location:</b>
                                {% if job.location %}
                                  {{ job.location }}
                                {% else %}
                                  Faridabad, Delhi NCR
                                {% endif %}
                            </div>
                            <div class="card-body-item">
                              <b>Type:</b>
                                {% if job.type %}
                                  {{ job.type }}
                                {% else %}
                                  Full Time
                                {% endif %}
                            </div>
                            <div class="card-body-item">
                                {% if job.no_of_positions %}
                                  <b>No. of Positions:</b> {{job.no_of_positions}}
                                {% endif %}
                            </div>
                            <div class="card-body-item">
                              {% if job.description %}
                                <b>Roles and responsibilities: </b>
                                  {{job.description}}
                              {% endif %}
                            </div>
                        </div>
                        <div class="card-apply">
                            <a class="btn btn-primary" href="mailto:hr@kleemvfxstudio.com?subject=Application for JOBID:{{job.job-id}}&body=...Please attach your show/demo-reel link...">Apply for {{job.job-id}}</a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
